html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    /* background: black; */
    /* overflow: hidden !important; */
   /* display: block; */
  }
  .css-11xur9t-MuiPaper-root-MuiTableContainer-root{
    background-color: white;
    /* width: 295px; */
  }
  ul li{
    list-style: none;
    font-size: 12px;
    margin: 5px;
  }
  ul{
    padding: 0px 6px 14px 6px;
  }
  .dashboard:hover{
    background: "#E2BC82"
  }
}
